{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новый ритм</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static './css/styles.min.css' %}">
    <link rel="stylesheet" href="{% static './css/reset.min.css' %}">
    <link rel="stylesheet" href="{% static './css/center.css' %}">

</head>

<body>
<header>
    {% include 'includes/navbar.html' %}
</header>
<div class="cls"></div>
<div class="blog">
    <div class="container">
        <div class="rect">#блог</div>
    </div>

</div>
<section class="blogs">
    <div class="fig">
        <a href="#" class="blog_cards__item"><img src="{{ blog.blog_image.image.url }}" width="450" height="450" alt=""></a>
    </div>
    <div class="donation_content">
        <div class="container">
            <div class="bgc">
                <div class="text_content">
                    <h2>{{ blog.title }}</h2>
                    <p>{{ blog.bio }}</p>
                </div>
            </div>

        </div>
    </div>
</section>
{% include 'includes/end.html' %}
</body>

</html>